@use './functions.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$mobile: '(max-width: 800px)';
$desktop: '(min-width: 800px)';

body {
  font-family: 'Inter', sans-serif;

  background-color: color('background');

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

card-component {
  margin-left: 24px;
  margin-right: 24px;

  user-select: none;

  max-width: 1100px;

  clip-path: inset(0 0 0 0 round 10px);

  display: flex;
  flex-direction: row;

  @media #{$mobile} {
    flex-direction: column;

    margin: 24px 24px;
    max-width: 450px;
  }

  font-family: sans-serif;
  color: color('card-text');

  background-color: color('card-background');

  card-image {
    display: block;
    flex: 1 1 50%;
    height: 450px;
    order: 2;

    background-image: var(--desktop-image);
    background-position: center;
    background-size: cover;

    filter: brightness(40%) contrast(90%) grayscale(100%) sepia(100%) hue-rotate(240deg) saturate(3);

    @media #{$mobile} {
      flex: 0 0 auto;
      height: 0;
      padding-bottom: 80%;
      order: 1;

      background-image: var(--mobile-image);
    }
  }

  card-contents {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    box-sizing: border-box;
    order: 1;
    
    padding: 80px 70px;

    color: white;

    @media #{$mobile} {
      padding: 40px 24px;
      text-align: center;
    }

    card-title {
      font-size: 24px;
      font-weight: 700;

      b { color: color('card-text-accent') }
    }

    card-description {
      margin: 24px 0px;
      flex: 1 1 auto;

      color: color('card-text-faded');
    }
    
    card-stats {
      display: flex;
      flex-direction: row;

      @media #{$mobile} {
        flex-direction: column;

        justify-content: center;
        align-items: center;
      }

      card-stat {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        @media #{$desktop} {
          &:not(:last-child) {
            margin-right: 24px;
          }
        }

        @media #{$mobile} {
          justify-content: center;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }

        font-size: 16pt;
        font-weight: 700;

        &::after {
          content: attr(label);

          font-size: 14pt;
          font-weight: 400;
          color: color('card-text-faded');
        }
      }
    }
  }
}

.attribution {
  display: flex;
  flex-direction: row;
  margin: 24px 0px;
  color: color('card-text-faded');

  span {
    @media #{$desktop} {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    @media #{$mobile} {
      &:not(:last-child) {
        margin-bottom: 1ex;
      }
    }
  }

  @media #{$mobile} {
    flex-direction: column;
    margin: 0px 0px 24px 0px;
    
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;;
    color: white;
  }
}